[Unit]
Description="Gollum"
Author="Ryan Rix"

[Service]
ExecStart=/usr/local/share/gems/gems/gollum-2.5.2/bin/gollum --config /etc/gollum.rb
WorkingDirectory=/var/lib/gollum/
User=root
